h1{color: grey ;text-align: center;
}
body {background-image: url(cover.jpg);font-size: 50px
;background-repeat: no-repeat;background-size: cover;}
table tr,td,th{
  border: color red;margin: 50px 0px 0px 50px;width: 100px;font-size: 24px; padding: 10px
}
